/* ====================Мобильная версия================= */
@media screen and (max-width: 768px) {

	// mobile
	.breadcrumb {
		display: none;
	}

	.page-404 {
		display: flex;
		flex-direction: column;

		.page-404__number {
			p {
				text-align: center;
				margin: 0;
			}
		}

		.page-404__text {
			width: 100%;
			margin: 0;
			padding: 20px;
			text-align: center;
		}

		.page-404__lightning {
			display: none;
		}
	}

	.footer {
		.container {
			display: grid;
			grid-template-columns: 1fr;
			width: 100%;
			text-align: center;
			padding: 20px;
		}

		.footer__social-links {

			/* text-align: center; */
			.telephone a {
				margin-left: 0px;
			}
		}
	}

	.pay-delivery {
		.container {
			display: grid;
			grid-template-columns: 1fr;
			width: 100%;
			grid-gap: 50px;
		}

		.paymant {
			padding: 20px;

			.paymant__card {
				text-align: center;
			}
		}

		.delivery {
			padding: 20px;
		}

	}

	.questions-block__bg {
		flex-direction: column;
		height: 100%;
		min-height: 208px;
		margin-bottom: 30px;
		width: 90%;

		&::after {


			width: 100%;
			height: 55%;
		}

		.questions-block__bg-columns {
			width: 100%;
			height: 100%;
			text-align: center;


			&:last-child {
				background: none;
				margin-top: 35px;
			}
		}

		.questions-block__bg-title {
			padding-left: 0px;
		}

		.questions-block__bg-text {
			padding-left: 0px;
			width: 75%;
		}
	}

	// end mobile
}

// ____________________________________________________________________________________ //
@media (min-width: 768px) and (max-width: 1024px) {
	// mobile

	// end mobile
}

// ____________________________________________________________________________________ //
@media (min-width: 1024px) and (max-width: 1580px) {
	// mobile

	// end mobile
}

// ____________________________________________________________________________________ //
@media (min-width: 1580px) {
	// mobile

	// end mobile
}

/* ============Конец - Мобильная версия================= */