/* ====================Мобильная версия================= */
@media screen and (max-width: 768px) {

	// mobile
	.breadcrumb {
		display: none;
	}

	.page-404 {
		display: flex;
		flex-direction: column;

		.page-404__number {
			p {
				text-align: center;
				margin: 0;
			}
		}

		.page-404__text {
			width: 100%;
			margin: 0;
			padding: 20px;
			text-align: center;
		}

		.page-404__lightning {
			display: none;
		}
	}

	.footer {
		.container {
			display: grid;
			grid-template-columns: 1fr;
			width: 100%;
			text-align: center;

		}

		.footer__social-links {
			padding-left: 90px;

			/* text-align: center; */
			.telephone a {

				margin-left: 0px;

			}
		}
	}

	.contact {
		.container {
			display: grid;
			grid-template-rows: 1fr;
			justify-items: center;
			grid-template-columns: none;

		}
	}

	// end mobile
}

// ____________________________________________________________________________________ //
@media (min-width: 768px) and (max-width: 1024px) {
	// mobile

	// end mobile
}

// ____________________________________________________________________________________ //
@media (min-width: 1024px) and (max-width: 1580px) {
	// mobile

	// end mobile
}

// ____________________________________________________________________________________ //
@media (min-width: 1580px) {
	// mobile

	// end mobile
}

/* ============Конец - Мобильная версия================= */