// reset css
@import "_reset";
// переменные
@import "_variables";

/* -----------	Основной стиль -----------	*/
// типография
body {
	font-family: "Exo 2";
	overflow-x: hidden;
}

h1 {
	@include adaptiv-font(54, 20);
	font-weight: 700;
}

h2 {
	@include adaptiv-font(36, 18);
	font-weight: 600;
}

h3 {
	@include adaptiv-font(30, 16);
	font-weight: 400;
}

h4 {
	@include adaptiv-font(30, 16);
	font-weight: 400;
}

h5 {
	@include adaptiv-font(20, 14);
	font-weight: 400;
}

h6 {
	@include adaptiv-font(18, 12);
	font-weight: 400;
}

p {
	font-weight: 400;
	@include adaptiv-font(16, 14);
}

// конец типография

/* -----------	Основной стиль -----------	*/
div,
header,
footer,
section,
aside {
	border: 1px solid yellowgreen;
}

/* -----------	Header -----------	*/

.header {
	height: 80px;
	background: linear-gradient(180deg, #1d170f 0%, rgba(29, 23, 15, 0.6) 146.88%);
}

/* -----------	End Header -----------	*/

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 140px;
	width: 100%;
	min-height: 89px;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* ----------- // Основной стиль -----------	*/

.page-404 {}

// мобильная версия
@import "_media";