// reset css
@import "_reset";
// переменные
@import "_variables";

/* -----------	Основной стиль -----------	*/
// типография
body {
	font-family: "Exo 2";
	overflow-x: hidden;
}

h1 {
	@include adaptiv-font(54, 20);
	font-weight: 700;
}

h2 {
	@include adaptiv-font(36, 18);
	font-weight: 600;
}

h3 {
	@include adaptiv-font(30, 16);
	font-weight: 400;
}

h4 {
	@include adaptiv-font(28, 16);
	font-weight: 400;
}

h5 {
	@include adaptiv-font(20, 14);
	font-weight: 400;
}

h6 {
	@include adaptiv-font(18, 12);
	font-weight: 400;
}

p {
	@include adaptiv-font(16, 14);
}

a {
	color: black;
	text-decoration: none;
}

.container {
	max-width: 1410px;
	height: 100%;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}

// конец типография

/* -----------	Основной стиль -----------	*/
div,
header,
footer,
section,
aside {
	border: 0px solid yellowgreen;
	position: relative;
}

/* -----------	Header -----------	*/

.header {
	height: 80px;
	background: linear-gradient(180deg, #1d170f 0%, rgba(29, 23, 15, 0.6) 146.88%);
}

.header__logo {
	margin-top: 9px;
	// .header__nav {
	// }
	// .header__tel {
	// }
}

// .logo {
// }
.header__menu {
	align-self: center;
	width: auto;
	height: 100%;
	position: relative;
	z-index: 9;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.menu__item {
	background: none;
	display: inline-flex;

	a {
		padding: 31.5px 33px;
		color: white;
		text-transform: uppercase;
		@include adaptiv-font(14, 12);
	}

	&:hover {
		background: #2c2419;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		cursor: pointer;
	}
}

.have-sub {
	position: relative;
	padding-right: 25px;
	z-index: 9;
	overflow: hidden;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;

	&::after {
		content: "";
		position: absolute;
		right: 30px;
		background-image: url(../img/arrow.svg);
		width: 16px;
		height: 8px;
		background-position: center;
		top: 37px;
	}

	&:hover {
		overflow: visible;

		.sub-menu {
			position: absolute;
			top: 80px;
			background: white;
			background: #fff;
			box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
			transition: 0.4s;
			-webkit-transition: 0.4s;
			-moz-transition: 0.4s;
			-ms-transition: 0.4s;
			-o-transition: 0.4s;
			opacity: 1;
			min-height: 80px;
			height: auto;
		}
	}

	.sub-menu {
		position: absolute;
		top: 80px;
		opacity: 0;
		background: white;
		background: #fff;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
		transition: 0.4s;
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		-ms-transition: 0.4s;
		-o-transition: 0.4s;
		z-index: 1;
		min-height: 0;

		&__links {
			padding: 13px 12px;
			text-align: left;

			a {
				color: #161616;
				padding: 10px 20px;
				font-size: 14px;
				line-height: 150%;
			}
		}

		.sub-menu__links:hover {
			background: $yellow;
		}
	}
}

// .menu__item {
// }
// .have-sub {
// }
.menu__link {
	display: flex;
}

.header__tel {
	align-self: center;

	&-links {
		display: flex;

		.number a {
			color: white;
			font-size: 16px;
		}

		.callback a {
			color: white;
			font-size: 14px;
			border-bottom: 1px solid #ffa401;
			margin-left: 20px;
			padding: 0 5px 2px 5px;
		}
	}
}

/* -----------	End Header -----------	*/

/* -----------	 Offer -----------	*/
.offer {
	background-image: url(../img/sed1.png);
	background-repeat: no-repeat;
	height: 1000px;
	background-attachment: fixed;
	background-origin: border-box;
	background-position: center;
	background-size: cover;
	position: relative;
	top: -80px;
	z-index: -1;
}

/* -----------	End Offer -----------	*/

/* -----------	Блок поиска на главной -----------	*/
.search-block {
	background: #2c2419;
	border-radius: 5px;
	width: 1410px;
	height: 165px;
	display: flex;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-top: -160px;
	margin-bottom: 140px;

	input {
		background: #ffa401;
		border: 1px solid #ffa401;
		box-sizing: border-box;
		min-width: 260px;
		max-height: 50px;
	}
}

.select {
	position: relative;
	display: block;
	min-width: 260px;
	width: 100%;
	max-width: 400px;
	margin-bottom: 20px;
	margin-right: 30px;
}

.select__head {
	width: 100%;
	max-width: 100%;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 14px 15px;
	font-size: 16px;
	line-height: 18px;
	color: #ebe4da;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(215, 208, 198, 0.15);
	box-sizing: border-box;
	box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
	border-radius: 5px;
}

.select__head::after {
	width: 10px;
	height: 6px;
	background: url(../img/Polygon.svg) no-repeat center / cover;
	position: absolute;
	right: 20px;
	bottom: 50%;
	transform: translateY(50%);
	content: "";
	display: block;
	transition: 0.2s ease-in;
}

.select__head.open::after {
	transform: translateY(50%) rotate(180deg);
}

.select__list {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	margin-top: 5px;
	max-height: 205px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 100;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #424348;
	scrollbar-color: dark;
	scrollbar-width: thin;
	overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
	width: 7px;
	background-color: #f8f9fa;
	padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #d9d9d9;
}

.select__list .select__item {
	position: relative;
	border-top: 1px solid rgba(224, 229, 231, 0.5);
	padding: 10px 15px;
	cursor: pointer;
	list-style-type: none;
}

.select__list .select__item:hover {
	background-color: #ffa401;
}

.search-block__select {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-self: center;
	flex-direction: row;
}

/* -----------	Конец Блок поиска на главной -----------	*/

/* -----------	Каталог -----------	*/
.catalog__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	justify-items: center;
	justify-self: center;
	width: 100%;
	margin-bottom: 140px;
	column-gap: 30px;
	row-gap: 18px;

	.catalog__block {
		width: 100%;
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		border: 1px solid #eee;
		transition: 0.5s;

		&:hover {
			background-color: #ffa401;
			transition: 0.5s;
			-webkit-transition: 0.5s;
			-moz-transition: 0.5s;
			-ms-transition: 0.5s;
			-o-transition: 0.5s;
		}
		&::after {
			content: "";
			-webkit-clip-path: polygon(0 154px, 100% 1px, 100% 100%, 0% 100%);
			clip-path: polygon(0 154px, 100% 1px, 100% 100%, 0% 100%);
			background-color: #eeeeee;
			position: absolute;
			width: 100%;
			height: 66%;
			bottom: 0;
			z-index: 1;
			opacity: 0.5;
			right: -0.5px;
		}

		&:hover::after {
			background-color: #cf8700;
		}
		&:hover:nth-child(2)::after {
			background-color: #cf8700;
		}

		&:nth-child(2)::after {
			content: "";
			-webkit-clip-path: polygon(0 154px, 100% 1px, 100% 100%, 0% 100%);
			clip-path: polygon(0 154px, 100% 1px, 100% 100%, 0% 100%);
			background-color: #eeeeee;
			position: absolute;
			width: 100%;
			height: 58%;
			bottom: 0;
			z-index: 1;
			opacity: 0.5;
		}

		img {
			display: flex;
			padding: 60px 60px 0 0;
			filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.4));
		}

		a {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 9;
			animation: pulse 3s infinite;
			-webkit-animation: pulse 3s infinite;
		}

		h4 {
			@include adaptiv-font(28, 16);
			font-weight: 700;
			color: #2c2419;
			width: 100%;
			position: absolute;
			top: 24px;
			left: 45px;
		}
	}
	.block__row {
		grid-row: 1/3;
		grid-column: 2/3;
		justify-content: center;
		display: flex;
		justify-items: center;
		justify-self: center;
		align-content: center;
		align-items: center;
	}
}

// @keyframes pulse {
// 	0% {
// 		filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0));
// 		-webkit-filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0));
// 	}

// 	50% {
// 		filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.4));
// 		-webkit-filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.4));
// 	}

// 	100% {
// 		filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0));
// 		-webkit-filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0));
// 	}
// }
/* -----------	Конец Каталог -----------	*/

/* -----------	Товары дня  -----------	*/
.title {
	width: 100%;
	text-align: center;
	margin-bottom: 70px;
}
.goods-block {
	.container {
		display: flex;
		flex-direction: column;
	}
}
.title-description {
	font-size: 16px;
	line-height: 140%;
	text-transform: uppercase;
	color: #c98100;
}
.title-name {
	font-family: Exo 2;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 140%;

	color: #2c2419;
}

.goods-block__container {
	display: flex;
	flex-direction: row;
	gap: 30px;
	margin-bottom: 40px;
	flex: 0 0 25%;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 140px;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	background: #ffffff;
	border: 1px solid #eeeeee;
	box-sizing: border-box;
	padding: 20px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	max-width: 330px;
	min-height: 425px;
	&:hover {
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
		border: 1px solid #ebe4da;
		box-sizing: border-box;
		box-shadow: 0px 5px 15px rgba(44, 36, 25, 0.14);
	}
	.card__link {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.card__image {
	overflow: hidden;
}
.card__image img {
	padding: 20px;
	display: flex;
	margin: 0 auto;
	object-fit: cover;
	object-position: center;
	max-width: 288px;
	max-height: 280px;
	min-height: 288px;
}
.card__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	color: #1d170f;
	max-height: 43px;
	max-width: 290px;
	min-width: 290px;
	overflow: hidden;
	margin-bottom: 5px;
}

.card__material {
	color: #797979;
	margin-bottom: 10px;
}

.card__price {
	display: inline-flex;
	list-style-type: none;
	align-items: center;
}
.old-price {
	margin-right: 20px;
	position: relative;
	color: #8b8275;
	font-size: 14px;
	&::after {
		content: "";
		width: 120%;
		height: 2px;
		position: absolute;
		top: 10px;
		left: -5px;
		display: block;
		background: #c98100;
		transform: rotate(-10deg);
	}
}
.new-price {
	font-size: 20px;
}

.card__like-button {
	position: absolute;
	right: 88px;
	bottom: 21px;
	cursor: pointer;
	border-radius: 40px;
	overflow: hidden;
	height: 38px;
	z-index: 5;
	&:hover path {
		fill: red;
		stroke: red;
	}
	.svg {
		background: #ebebeb;
		width: 40px;
		height: 40px;
		object-fit: contain;
		object-position: center;
		padding: 10px;
	}
}
.card__buy-button {
	position: absolute;
	right: 30px;
	bottom: 16px;
	cursor: pointer;
	border-radius: 40px;
	overflow: hidden;
	height: 48px;
	z-index: 5;
	.svg {
		background: #ffa401;
		width: 48px;
		height: 48px;
		object-fit: contain;
		object-position: center;
		padding: 12px;
	}
	&:hover path {
		fill: red;
		stroke: red;
	}
}
.card__attributes {
	position: absolute;
	top: 12px;
	left: 0;
	color: white;
	font-size: 14px;
	font-weight: 600;
	.attribute:nth-child(1) {
		background-color: #1d170f;
	}
	.attribute {
		overflow: hidden;
		margin-bottom: 5px;
		background-color: #c98100;
		text-transform: uppercase;
		text-align: center;
		padding: 4px 13px;
	}
}

/* -----------	Конец Товары дня  -----------	*/

/* -----------	 Спецпредложения  -----------	*/
.special-goods {
	position: relative;

	div {
		max-height: 100%;
		width: 100%;
	}
}

.special-goods__column {
	padding: 60px;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	padding-right: 0;
	&::after {
		content: "";
		clip-path: polygon(0 0, 92% 0px, 72% 100%, 0% 100%);
		background-color: #2c2419;
		width: 150%;
		height: 100%;
		position: absolute;
		z-index: -1;
		left: 0;
	}
	&:nth-child(2)::after {
		display: none;
	}
}
.column {
	display: grid;
	flex-direction: column;
	align-content: center;
	align-items: center;

	.preview {
		position: absolute;
		top: -125px;
		z-index: 9;
		right: -320px;
	}
}

.column-title {
	color: white;
	font-size: 40px;
	margin-bottom: 22px;
}
.column-text {
	grid-column: 1/2;
	color: white;
	max-width: 500px;
	font-size: 20px;
}
.button {
	grid-column: 2/3;
	grid-row: 1/3;
	background: #ffa401;
	padding: 10px 50px;
	border: none;
	outline: none;
	margin-right: -50px;
	cursor: pointer;
	z-index: 99;

	&::after {
		content: "";
	}
}

.special-goods__image {
	position: absolute;
	right: 0;
	z-index: -2;
	top: 0;
}

/* -----------	Конец Спецпредложения  -----------	*/

.footer {
	margin-top: 140px;
	width: 100%;
	min-height: 89px;
	// position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	background: #2c2419;

	.container {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		width: 1410px;
		height: 80px;
		color: #afafaf;
		font-size: 12px;
	}

	.footer__made-by a {
		color: #afafaf;
		border-bottom: 1px solid #ffa401;
		padding: 0 2px 2px 1px;
		margin-left: 2px;
	}
}

.footer__social-links {
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
	font-size: 14px;

	.telephone a {
		color: #afafaf;
		margin-left: 47px;
	}
}

/* ----------- // Основной стиль -----------	*/
/*------------ страница 404 ---------------*/
.page-404 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	align-content: center;
	height: 100%;
	min-height: 500px;

	.page-404__number p {
		font-size: 100px;
		font-weight: bold;
		margin-right: 62px;
	}

	.page-404__text {
		font-size: 20px;
		width: 492px;
		margin-left: 56px;
	}

	.page-404__lightning:hover img {
		transition: top 2s ease-out 0.5s;
	}
}

.breadcrumb {
	background-color: #fff;
	font-size: 13px;
	color: #9a9a9a;

	a {
		color: #9a9a9a;
	}

	.container {
		display: flex;
		padding-top: 30px;
		padding-bottom: 50px;
		justify-content: flex-start;
	}
}

/*--------конец 404 -----*/

/*------- Контакты -------*/
.contact {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.contact__info {
		h2 {
			font-size: 40px;
			padding-bottom: 68px;
		}

		ul {
			padding: 0;
			font-size: 16px;
		}

		li {
			list-style-type: none;
			padding-bottom: 30px;

			span {
				color: #797979;
			}
		}
	}

	.contact__form {
		background-color: #2c2419;
		text-align: center;

		h2 {
			color: #ffa401;
			font-size: 16px;
			font-weight: normal;
			padding-top: 104px;
			padding-bottom: 34px;
		}

		input {
			color: #fff;
			display: block;
			margin: 20px auto;
			border: 1px solid rgba(225, 218, 208, 0.15);
			border-radius: 3px;
			padding: 10px;
			background-color: rgba(225, 218, 208, 0.1);
			width: 70%;

			&:focus {
				border: 1px solid rgba(225, 218, 208, 0.15);
				outline: none;
			}

			::-webkit-input-placeholder {
				color: #fff;
			}

			::-moz-placeholder {
				color: #fff;
			}

			/* Firefox 19+ */
			:-moz-placeholder {
				color: #fff;
			}

			/* Firefox 18- */
			:-ms-input-placeholder {
				color: #fff;
			}
		}

		label {
			font-size: 13px;
			color: #fff;
			font-weight: normal;
		}

		input#contact__form-chek {
			float: left;
			width: 10%;
		}
	}
}

/*--------конец Контакты -----*/

@import "_style2";

// мобильная версия
@import "_media";
