// reset css
@import "_reset";
// переменные
@import "_variables";

/* -----------	Основной стиль -----------	*/
// типография
body {
	font-family: "Exo 2";
	overflow-x: hidden;
}

h1 {
	@include adaptiv-font(54, 20);
	font-weight: 700;
}

h2 {
	@include adaptiv-font(36, 18);
	font-weight: 600;
}

h3 {
	@include adaptiv-font(30, 16);
	font-weight: 400;
}

h4 {
	@include adaptiv-font(30, 16);
	font-weight: 400;
}

h5 {
	@include adaptiv-font(20, 14);
	font-weight: 400;
}

h6 {
	@include adaptiv-font(18, 12);
	font-weight: 400;
}

p {
	font-weight: 400;
	@include adaptiv-font(16, 14);
}

a {
	color: black;
	text-decoration: none;
}

.wrapper {
	max-width: 1410px;
	height: 100%;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}

// конец типография

/* -----------	Основной стиль -----------	*/
div,
header,
footer,
section,
aside {
	border: 0px solid yellowgreen;
}

/* -----------	Header -----------	*/

.header {
	height: 80px;
	background: linear-gradient(180deg, #1d170f 0%, rgba(29, 23, 15, 0.6) 146.88%);
}

.header__logo {
	margin-top: 9px;
	// .header__nav {
	// }
	// .header__tel {
	// }
}

// .logo {
// }
.header__menu {
	align-self: center;
	width: auto;
	height: 100%;
	position: relative;
	z-index: 9;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.menu__item {
	background: none;
	display: inline-flex;

	a {
		padding: 31.5px 33px;
		color: white;
		text-transform: uppercase;
		@include adaptiv-font(14, 12);
	}

	&:hover {
		background: #2c2419;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		cursor: pointer;
	}
}
.have-sub {
	position: relative;
	padding-right: 25px;
	z-index: 9;
	overflow: hidden;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;

	&::after {
		content: "";
		position: absolute;
		right: 30px;
		background-image: url(../img/arrow.svg);
		width: 16px;
		height: 8px;
		background-position: center;
		top: 37px;
	}
	&:hover {
		overflow: visible;
		.sub-menu {
			position: absolute;
			top: 80px;
			background: white;
			background: #fff;
			box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
			transition: 0.4s;
			-webkit-transition: 0.4s;
			-moz-transition: 0.4s;
			-ms-transition: 0.4s;
			-o-transition: 0.4s;
			opacity: 1;
			min-height: 80px;
			height: auto;
		}
	}
	.sub-menu {
		position: absolute;
		top: 80px;
		opacity: 0;
		background: white;
		background: #fff;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
		transition: 0.4s;
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		-ms-transition: 0.4s;
		-o-transition: 0.4s;
		z-index: 1;
		min-height: 0;
		&__links {
			padding: 13px 12px;
			text-align: left;
			a {
				color: #161616;
				padding: 10px 20px;
				font-size: 14px;
				line-height: 150%;
			}
		}
		.sub-menu__links:hover {
			background: $yellow;
		}
	}
}

// .menu__item {
// }
// .have-sub {
// }
.menu__link {
	display: flex;
}

.header__tel {
	align-self: center;

	&-links {
		display: flex;

		.number a {
			color: white;
			font-size: 16px;
		}
		.callback a {
			color: white;
			font-size: 14px;
			border-bottom: 1px solid #ffa401;
			margin-left: 20px;
			padding: 0 5px 2px 5px;
		}
	}
}

/* -----------	End Header -----------	*/

.footer {
	margin-top: 140px;
	width: 99.5%;
	min-height: 89px;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	background: #2c2419;

	.wrapper {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		width: 1410px;
		height: 80px;
	}
}

/* ----------- // Основной стиль -----------	*/
/*------------ страница 404 ---------------*/
.page-404 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-basis: 200px;
	margin-top: 292px;

	.page-404__number p {
		font-size: 100px;
		font-weight: bold;
		margin-right: 62px;
	}

	.page-404__text {
		font-size: 20px;
		width: 492px;
		margin-left: 56px;
	}

	.page-404__lightning:hover img {
		transition: top 2s ease-out 0.5s;
	}
}

.breadcrumb {
	font-size: 13px;
	color: #9a9a9a;
	display: flex;
	flex-direction: row;
	justify-content: center;

	a {
		color: #9a9a9a;
	}
}

/*--------конец 404 -----*/





// мобильная версия
@import "_media";
